*{
	margin: 0;
	padding-left: 0;
	font-family: Century Gothic;
}


ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #FFF;
	transition: 1s ease solid #fff;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.title{
	color: white;
	padding: 13px 20px;
	border: 0.5px;
	background-color: #04AA6D;
	
}

.maintext{
	color: green;
	

	margin-top: 25%;
	margin-left: 70%;

}

.submaintext{
	color: green;
	
	margin-top: 1%;
	margin-left: 63%;

}

