/* *{
	margin: 0;
	padding-left: 0;
	font-family: Century Gothic;
} */

body{
	background-image: url('homepic.jpg');
	height: auto;
	width: 100%;
	/* background-size: cover; */
	background-position: center;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

.maintext{
	color: #ffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.maintext h1{
	color: #ffff;
	font-size: 70px;
}

.btn{
	color: #fff;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.buildbtn{
	border: 1px solid #ffff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}

.buildbtn:hover{

	background-color: #fff;
	color: #000;

}