body{

}
.vijo{
    height: 300px;
	width: 1000px;
	padding: 20px 20px;
	margin-top: 5%;
	margin-left: 21%;
	margin-bottom: 10%;
	border-style: solid;
	border-color: #008080;

}

.vijo1{
    text-align: center;
    text-decoration-color: aquamarine;
}

.vijo2{
    text-align: center;
    text-decoration-color: aquamarine;
}
