{% extends 'base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href={% static "css/StyleAboutUs.css" %}>
</head>

<body>

    <div class="outter">
        <div class="container">
            <h1>About Us</h1>
    <hr>

<p><h2>Resume Core is your ultimate career toolbox.</h2>
<br>
<p><b>Use it to fix your career.</b><br>
    <br>

    We offer you the best online resume builder and free professional recommdations related to your resume. 
    We’ll guide you through the entire recruitment process all the way to your dream job.
    Since 2020, Resume Core has helped millions of job seekers worldwide find employment. 
    With a rapidly growing community of more than 40 million readers a year, Resume Core is arguably the world’s fastest 
    growing resume making website.
    
    Each day, we help thousands of people write resumes and cover letters, and improve their chances of landing a job.
    From resume and job recommdations to networking, our website have been recognized by over 200 universities 
    and organizations worldwide.</p>
    

<br>
<p><b> What is Resume Core?<br></b>

    Online Resume Builder and Cover Letter Generator: pick your favorite Resume Template, let our builder suggest
     and add content tailored to your profile, match your resume with a Cover Letter Template, and download 
     your application documents in PDF or Word format.
    A Career Help Blog, where you can find guides and examples on how to make a resume, how to write a cover letter, 
    or how to ace an interview. We have over a thousand guides, each of them written by career experts after hours of 
    careful research. Need a specific guide? 
    Check out hundreds of resume examples, as many CV examples and all the cover letter examples you’ll ever need.



</P>

  </div>
  {% comment %} <div class="container signin"> {% endcomment %}
  </div>

    </div>
</body>   
</html>

{% endblock %}