{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>conformation</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/styleC.css' %}"/>

    </head>

    <body>
        <div class="vijo">
            <div class="vijo1">

        <h1>Download</h1>
        <hr>
        <br>
        <br>
        <br>
        <br>

    </div>
    <div class="vijo2">
    <h1>Thank you for Downloading ....</h1><br>

    </div>
    </div>
    </body>
</html>




{% endblock content %}