{% extends 'base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleAboutUs.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<center><body>
    <header>
    
    <div class="outter">
        <div class="container">
            <h1>Contact Us</h1>
    <hr>

    <p><h2>Catch us on </h2>
        <li><a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" class="fa fa-instagram"></a>&nbsp;&nbsp;</li>
        <a href="www.instagram.com">www.instagram.com</a>
        <br><br>

        <a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" class="fa fa-linkedin"></a>&nbsp;&nbsp;
        <a href="www.linked.in.com">www.linkedin.com</a>
        <br><br>

        <a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" class="fa fa-youtube"></a>&nbsp;&nbsp;
        <a href="www.youtube.com">www.youtube.com</a>
        <br><br>

        <a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" class="fa fa-google"></a>&nbsp;&nbsp;
        <a href="www.google.com">www.google.com</a>
        <br><br>

        <a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" class="fa fa-reddit"></a>&nbsp;&nbsp;
        <a href="www.reddit.com">www.reddit.com</a> 
        <br> <br>      


        <p><b> Other Addresses <br></b>
            Email-id : resumecore@gmail.com<br>
            Mobile-No. : 8577552263 <br>
            Headqauters : Andheri , Mumbai <br> 
            </p>
</div>
<div class="container signin">
</div></center>
</header>
  </div>

  {% endblock  %}
</body>   
</html>