{% extends 'base.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="maintext">
        <h1>Start with us!!</h1>
    </div>
    <div class="submaintext">
        <h3>Let's Grooming and Growing together :)</h2>
    </div> 


    {% comment %} <div class="maintext">
        <h1>Start with us!!</h1>
    </div>
    <div class="submaintext">
        <h2>Let's Grooming and Growing together :)</h2>
    </div> {% endcomment %}
   
    {% comment %} <div class="maintext">
        <h1>Start with us!!</h1>
    </div>
    <div class="submaintext">
        <h2>Let's Grooming and Growing together :)</h2>
    </div> {% endcomment %}
    {% comment %} <header>

        <div class="main">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contect us</a></li>
                {% if user.is_authenticated %}
                    <li><a href = "{% url 'password_change'%}">Change password</a></li>
                    <li><a href = "{% url 'logout' %}">Log out</a></li>

                {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                {% endif %}
                
                
            </ul>
        </div>
        <div class="title">
            <h1>Resume Core</h1>
        </div>
       {% endcomment %}
       
    
</body>   
</html>


    {% comment %} <p>Welcome to my Site, {% if user.is_authenticated %}{{ user.username }}{% else %} vistior!</p> {% endcomment %}

    {% comment %} <h2>Homepage</h2>
    <p> Welcome to Resume Core, visitor!</p> {% endcomment %}
{% endblock %}