{% extends 'base.html' %}

{% block content %}

{% load static %}

<!Doctype HTML>
<html>
<head>
	<title>resume</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{% static 'css/style4.css' %}"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

	
	<ul style="float: right; list-style-type: none; margin-top: 25px;">

		<li style="display: inline-block;">
			<a href="{% url 'conformforF' %}" style="text-decoration: none; color: #ffff; padding: 5px 20px; border: 1px solid #FFF; transition: 1s ease solid #fff;">Download</a></li>
			<a href="{% url 'templetss' %}" style="text-decoration: none; color: #ffff; padding: 5px 20px; border: 1px solid #FFF; transition: 1s ease solid #fff;">Cancel</a>

	</li>
	</ul>
	<div class="box-outer">
	<div class="resume-box">
		<div class="box-1">
			<!--<img src="images/profile.png" class="profile" />-->
			<div class="content">
				<h1>Contact</h1>
	
					<p class="fa fa-map"><i class="material-icons icons1">call</i>{{mo}}</p>
					<p class="fa fa-map"><i class="material-icons icons1">email</i>{{email}}</p>
					<p class="fa fa-map"><i class="material-icons icons1">home</i>{{contry}}</p>
				
				<!--<h1>About me</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
					
				</p>-->
				<h1>Skills</h1>
	
					{% for s,k in skills.items %}
					<p class=" fa fa-map">{{k.skill}}</p>
					{% endfor %}
				<br/>
				<h1>Award</h1>
	
				{% for key,value in awards.items  %}
					<p class="fa fa-map">{{value.award}}</p>
					{% endfor %}
					
				<br/>
				<h1>Languages</h1>
	
					{% for l in lang%}
					<p class="fa fa-map">{{l}}</p>
					{% endfor %}
				</div>
	
			</div>
	
			<div class="box-2">
				
				<div class="intro">
					
					<br/>
					<h1 class="ma">{{Fname}}</h1>
					<h1> <strong>{{Lname}}</strong></h1>
	
					<p class="phead">{{intrest}}</p>
					<div class="clearfix"></div>
					<hr class="hr1" />
				</div>
				
				<br/><br/><br/>
				
				<div class="content-2">
					<h1 class="head">About Me</h1>
					<hr class="hr2" />
					<div class="clearfix"></div>
					<p class="para-21">{{about}}
	</p>
				
				</div>
				
				
				<div class="content-2">
					<h1 class="head">Experience</h1>
					<hr class="hr2" />
					<div class="clearfix"></div>
					{% for key,value in work.items  %}
					<p class="para-1">{{value.compny}}<strong>({{value.start}} - {{value.end}})</strong></p>
					<p class="para-21">{{value.about}}</p>
					{% endfor %}
	
				</div>
	
	
				<div class="content-2">
					<h1 class="head">Education</h1>
					<hr class="hr2" />
					<div class="clearfix"></div>
					{% for key,value in edu.items  %}
					<p class="para-1">{{value.school}} <strong>({{value.start}} - {{value.end}})</strong></p>
					<p class="para-21">{{value.cource}}</p>
					<p class="para-21">Percentage : {{value.pr}}</p>
					{% endfor %}
	
				</div>
	
	
			</div>
	
		</div>
		<div class="clearfix"></div>
	</div>
	</body>
	
	</html>

{% endblock %}