{% extends 'base.html' %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy</title>
    {% comment %} <link rel="stylesheet" type="text/css" href={% static "css/styleprivacy.css"%}> {% endcomment %}
</head>

<body>
    <div>
    {% comment %} <header>
        <div class="main">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Sign in</a></li>
                <li><a href="{% url 'signup' %}">Sign up</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contect us</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>Resume Core</h1>
        </div> {% endcomment %}
    {% comment %} </header> {% endcomment %}
    <div class="outter" style="height: auto; width: 1000px; padding: 20px 20px; margin-left: 15%; margin-top: 5%; margin-bottom: 10%;
    border-color: #008080; border-style: solid;">
        <div class="container">
            <h1>Privacy Policy</h1>
    <hr>

<p><h2>CONTENTS</h2>
1. Information Collected<br>
2. Use of Information<br>
3. Links<br>
4. Disclosure<br>
5. Your Choices<br>
<br>
<p><b>1. Information Collected</b><br>

Traffic Data. ResumeBuild may collect a variety of visitor data such as IP addresses, browser settings, internet service provider (ISP) information, referring/exit pages, operating systems, date/time stamps, and clickstream data (collectively “Visitor Data”). The ResumeBuild internal servers and software automatically recognize Visitor Data. The Site may use Visitor Data to compile traffic data about the types of visitors who use the Site at specific intervals (collectively “Traffic Data”). We may use Traffic Data to analyze Site traffic, but this information is not examined for Personally Identifiable Information. We may also use Traffic Data to diagnose problems with our server, administer our Site, or display content according to your preferences. Visitor Data and Traffic Data may also be shared with business partners, affiliates, or advertisers on an aggregated and anonymous basis.<br></p>



<hr>
<p><b>2. Use of Information<br></b>

We use information we collect from the Online Services to communicate with you, process your orders, facilitate your transactions with our third-party marketing partners, and inform you of offers and discounts. For example, you may receive a welcome email that confirms your username and password, and later receive communications responding to your inquiries, providing services you request, and managing your account. We occasionally send service-related announcements, for example, to alert you if we need to temporarily suspend the Site for maintenance.</p>

<br>
<p><b>3. Links</b><br>

Third-Party Websites. ResumeBuild may maintain links to other websites and other websites may maintain links to the Online Services. This Privacy Policy applies only to ResumeBuild.com and not to other websites accessible from ResumeBuild or that you use to access ResumeBuild, each of which may have privacy policies materially different from this Privacy Policy. If you visit other websites, ResumeBuild is not responsible for the privacy practices or content of those sites. It is your responsibility to review the privacy policies of non-ResumeBuild websites to confirm that you understand and agree with them.
</p>
<br>
<p><b>4. Disclosure</b><br>

Information we collect can be shared with:<br>

 <b>a)</b> The Provider Corporate Family and Other Third Parties: We can share the information that we collect about you with the Provider’s corporate family (our affiliates), as well as with third-party suppliers. The information can be disclosed <br>(i) to provide joint content and our products and services (e.g. registration, transactions, employment or education opportunities, analytics and customer support);<br> (ii) to help detect and prevent potentially illegal acts, violations of our policies, fraud and/or data security breaches; and<br> (iii) to guide decisions about our Provider or third party’s products, sites, applications, services, tools and communications. Members of our corporate family will use this information to send you marketing communications, and you will have the opportunity to opt out of email communications.<br>
<b>b)</b> Service Providers and Other Third Parties: We can disclose your information to service providers under contract, which help with our business operations (such as, but not limited to, fraud investigations, bill collection and payment processing, and site analytics and operations). Also, we share information with our third-party payment processors. With your authorisation, we can also share your information with potential employers and career/job-posting websites.</p>

<br>
<p><b>5. Your Choices</b><br>

<b>a)</b>Site Privacy Settings: Information that you disclose while participating on the Site can be public and subject to redistribution by us and any third party that reviews your profile or the information that you post. You can change preferences for other Provider services as set forth in section 8 or by contacting us as set forth in Section 15. Please be aware that the Provider is not responsible for the use, disclosure or copies of your public postings on or through the Site that you make public and that are downloaded by third parties.<br>
<br>
<b>b)</b> Update/Delete or Change Your CV or Cover Letter: To change or delete your CVs or cover letters, log in to your Provider account, click the ‘CV’ and ‘Cover letter’ tabs and select Edit or Delete.<br>
</p>


</P>

  </div>
  <div class="container signin">
  </div>

    </div>

</body>   

{% endblock %}
</html>